;
; use this only if you know what are you doing
;
xdebug.start_with_request = yes
; xdebug.remote_connect_back = off

;
; this case work for the most of configurations
;

xdebug.mode = develop,coverage,debug
xdebug.client_host = ${XDEBUG_HOST}
xdebug.client_port = ${XDEBUG_PORT}
xdebug.idekey = ${XDEBUG_IDEKEY}
